body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid green;
    margin-bottom: 4px;
}

button {
    background-color:5f9341;
    color: azure; 
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

#delete-btn {
    background-color: white;
    color:5f9341;
    font-weight: bold;
    border: 1px solid ;
    padding: 10px 20px;
}

/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}

li {
    margin-top: 5px;
}

li a {
    color: 5f9341;
}