* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align:center;
    color: blueviolet;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content{
    text-align:center;
    align-content: normal;
}

