/* Complete the CSS styling according to the provided design */

body {
    background-color: rgba(65, 91, 188, 0.74);
    color: black;
    font-family: monospace;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

h1 {
    color: blanchedalmond;
}

#message-el {
    color: black;
}

#start {
    color: whitesmoke;
    background-color: darkblue;
    width: 150px;
    height: 50px;
    border: black solid 2px;
    border-radius: 4px;
}
